In [27]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
%matplotlib inline

In [15]:
cnx = create_engine('mysql+pymysql://treinarecife:Treina2017+@dbcurso.mysql.uhserver.com/dbcurso')

In [16]:
clientes = pd.read_sql("SELECT * FROM clientes", cnx)
print(clientes)

                                nome idade          cpf            rg  \
0               Rosa Camila Silveira    77  02047453739  39.718.099-8
1         Cristiane Francisca Fogaça    57  06269349400  35.386.128-5
2      Henrique Geraldo Heitor Brito    58  61604246960  18.386.733-6
3          Vanessa Catarina Monteiro    30  51812255438  17.942.237-6
4             Débora Fátima da Costa    54  70234359307  35.768.231-2
..                               ...   ...          ...           ...
325              Hugo Bento Silveira    53  95311667907  20.634.615-3
326        Carolina Elisa Corte Real    53  48180233707  27.224.162-3
327  Aparecida Priscila Ester da Paz    76  67948243887  43.308.267-7
328        Leonardo Vinicius Rezende    34  03909089836  42.441.044-8
329          Débora Yasmin Fernandes    46  80128738006  14.757.756-1

      data_nasc       sexo        signo                      mae  \
0    26/08/1946   Feminino       Virgem  Rafaela Beatriz Marcela
1    11/09/1966   Feminino       Virgem            Marina Bianca
2    25/05/1965  Masculino       Gêmeos      Allana Tânia Lorena
3    06/01/1993   Feminino  Capricórnio    Tereza Allana Clarice
4    03/09/1969   Feminino       Virgem            Isabelly Nina
..          ...        ...          ...                      ...
325  17/01/1970  Masculino  Capricórnio             Lívia Helena
326  11/08/1970   Feminino         Leão           Lúcia Isabella
327  07/04/1947   Feminino        Áries    Sophie Amanda Juliana
328  16/08/1989  Masculino         Leão     Alessandra Ana Marli
329  19/02/1977   Feminino      Aquário         Antonella Brenda

                                         pai  \
0                      Julio Thomas Silveira
1                       Pedro Joaquim Fogaça
2                        André Geraldo Brito
3                     Otávio Carlos Monteiro
4    Raimundo Pedro Henrique Thiago da Costa
..                                       ...
325                      Erick Luís Silveira
326                Severino Elias Corte Real
327                     Leandro Renan da Paz
328                       Renan Gael Rezende
329         Guilherme Thales Vitor Fernandes

                                               email  ...  \
0                  rosa_camila_silveira@ssala.com.br  ...
1                cristianefranciscafogaca@duoarq.com  ...
2          henrique_geraldo_brito@facilitycom.com.br  ...
3                 vanessa-monteiro84@mirabeau.art.br  ...
4           debora_dacosta@willianareiaepedra.com.br  ...
..                                               ...  ...
325              hugo-silveira95@comercialmendes.net  ...
326              carolina-cortereal82@netpont.com.br  ...
327  aparecida_priscila_dapaz@tribunadeindaia.com.br  ...
328            leonardo.vinicius.rezende@htomail.com  ...
329                debora-fernandes86@delboux.com.br  ...

                            bairro         cidade estado   telefone_fixo  \
0                        Aeroporto        Aracaju     SE  (79) 3587-5246
1               Jardim Nova Morada       Campinas     SP  (19) 2701-9627
2                     Parque Sabiá       São Luís     MA  (98) 2826-8479
3                       Barro Duro         Maceió     AL  (82) 3773-3014
4            Loteamento Bela Vista  Foz do Iguaçu     PR  (45) 3712-1781
..                             ...            ...    ...             ...
325  Nossa Senhora da Apresentação          Natal     RN  (84) 2605-7988
326                 Setor Noroeste       Brasília     DF  (61) 2987-2492
327                Jardim Tropical      Boa Vista     RR  (95) 2800-9130
328                        Fragoso       Paulista     PE  (81) 2916-6474
329                        Jardins        Aracaju     SE  (79) 3892-4648

             celular altura peso tipo_sanguineo       cor idcliente
0    (79) 99897-0534   1,50   64             A+  vermelho         1
1    (19) 99487-5344   1,54   53            AB-   laranja         2
2    (98) 99921-3963   1,64   67             B-     verde         3
3    (82) 99766-7297   1,83   49             B-      azul         4
4    (45) 99714-1358   1,58   85             B+      roxo         5
..               ...    ...  ...            ...       ...       ...
325  (84) 98494-0398   1,85   68            AB-      roxo       326
326  (61) 98170-0832   1,50   49             B-     verde       327
327  (95) 99618-3208   1,62   59             B+     preto       328
328  (81) 99428-1403   1,81   71             B-   amarelo       329
329  (79) 99555-1361   1,77   70            AB+      roxo       330

[330 rows x 24 columns]

In [17]:
debitos = pd.read_sql("SELECT * FROM debito_calabria", cnx)
print(debitos)

            cpf    valor
0   00605595275   7150.0
1   00921684770   8129.0
2   02047453739   5364.0
3   02514395348   5418.0
4   04127723459   3995.0
5   06105078773   6145.0
6   08881386100   8583.0
7   14163820540   9419.0
8   15833197350   8990.0
9   21212630807   7657.0
10  21859910270  13242.0
11  25828894749   1376.0
12  27604230938   1397.0
13  40664722300   4758.0
14  49424803028   2902.0
15  55487107963   9509.0
16  60273364553   5573.0
17  61731558341   6521.0
18  63294994036   4866.0
19  74613655846   5760.0
20  74672285464   3486.0
21  77380411535   7365.0
22  82805305507   2803.0
23  84859430581   4145.0
24  85488616659   3085.0
25  85776871042   8895.0
26  85991762503   6280.0
27  86658082480   6674.0
28  92130427014   7542.0
29  94532353181   4635.0
30  97072046054   4871.0
31  99620646517   6866.0

In [18]:
cobranca = clientes.merge(debitos, how= 'inner', left_on='cpf', right_on='cpf')

In [19]:
cobranca = cobranca[['nome', 'cpf', 'valor', 'email']]

In [26]:
cobranca.to_excel(r"C:\Users\panca\Documents.xlsx")